
    @font-face {
      font-family: 'HelveticaBold';
      src: url('fonts/Helvetica-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
    }
    
    @font-face {
      font-family: 'Helvetica';
      src: url('fonts/Helvetica.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
    }
    
    @font-face {
      font-family: 'Gotham';
      src: url('fonts/Gotham-Book.otf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'GothamBold';
      src: url('fonts/Gotham-Medium.otf') format('truetype');
      font-weight: bold;
      font-style: normal;
    }
    
     
     
     /* styling for body to get full screen */
    
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      #map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
      
      /* styling for the dialogue box that pops up when you first open the page and the button in it */
    
      .dialog-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        transition: opacity 0.8s ease, visibility 0.8s ease;
      }
      
      .dialog-box {
        background: url('images/intro_map.png') center center / cover no-repeat;
        background-size: 300%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Gotham';
      }
      
      .intro-text {
        background-color: #fff8eF;
        color: #2E3A59;
        padding: 15px;
        position: fixed;
        border-radius: 12px;
        max-width: 350px;
        width: 90%;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
        text-align: center;
        font-family: 'Gotham';
      }
      
      .dialog-box h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'HelveticaBold';
      }
      
      .dialog-box button {
        padding: 10px 16px;
        font-size: 14px;
        background-color: #704695;
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'HelveticaBold';
        outline: 2px solid #9e7dbd;
        outline-offset: 1px;
        transition: outline-offset 200ms ease;
      }
      
      .dialog-box button:hover {
        background-color: #9e7dbd;
        outline-offset: 5px;
      }
    
      .dialog-overlay.fade-out {
        opacity: 0;
        visibility: hidden;
      }
    
    
    .intro-middle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Gotham';
    }
    
    .intro-left {
      text-align: left;
      flex: 1;
      font-family: 'Gotham';
    }
    
    .intro-right img {
      max-width: 160px;
      height: auto;
      display: block;
    }
    
    #rudin-logo-fixed {
      position: fixed;
      bottom: 40px;
      right: 120px;
      z-index: 998;
      opacity: 0.9;
      pointer-events: auto;
      max-width: 60px;
    }
    
    #rudin-logo-fixed img {
      max-width: 160px;
      height: auto;
      display: block;
    }
      
     
      /* styling for the container that holds the legend of all the subway lines and the toggle button */
    
      #legend-container {
        position: absolute;
        top: 45px;
        right: 10px;
        z-index: 1;
        font-family: Arial, sans-serif;
        background: #2E3A59;
      }
    
    
      /* styling for the legend and adding the transition for when you click the toggle and it collapses */
    
      #map-legend {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #2E3A59;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        z-index: 1;
      
        transition: opacity 0.4s ease, transform 0.4s ease;
        opacity: 1;
        transform: translateY(0);
      }
      
    
      /* styling for the legend button */
    
      .legend-button {
        margin: 4px;
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        width: 180px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #3498DB;     
        color: #F4F4F4;          
        border: none;
        transition: outline-offset 200ms ease;
      }
      
    
      /* styling for when you hover over the legend button */
    
      .legend-button:hover {
        transform: scale(1.05);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        outline: 2px solid #ffffff;
        outline-offset: 3px;

      }
      
    /* styling for the button so you know it is selected when you click it */
    
      .legend-button.selected {
        box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
        outline: 2px solid #ffffff;
        outline-offset: 3px;
        transform: scale(1.05);

      }
    

      #info-box {
        display: none;   
        position: absolute;
        top: 55px !important;
        left: 50px;
        padding: 20px;
        max-width: 300px;
        z-index: 1000;
        background: white;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        font-family: 'Gotham';
        transition: opacity 0.4s ease, transform 0.4s ease;
        background: #2E3A59;       
        color: #F4F4F4;            
        
      }

#info-box h2 {
  margin: 0 0 8px;
  font-size: 16px;
  font-family: 'GothamBold';
  transition: opacity 0.4s ease, transform 0.4s ease;
}
#info-body p {
  margin: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

#next-button {
  display: inline-block;
  bottom: 10px;
  right: 10px;
  margin-top: 12px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #5D9CEC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: 2px solid #5D9CEC;
  outline-offset: -2px;
  transition: outline-offset 200ms ease;
}
#next-button:hover {
  background-color: #A0CECB;
  outline-offset: 3px;
}


#back-button {
  display: inline-block;
  bottom: 10px;
  left: 10px;
  margin-top: 12px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #5D9CEC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: 2px solid #5D9CEC;
  outline-offset: -2px;
  transition: outline-offset 200ms ease;
}
#back-button:hover {
  background-color: #A0CECB;
  outline-offset: 3px;
}
      
.legend-separator {
  text-align: center;
  margin: 0.5em 0;
  color: #888;
  pointer-events: none;
}

.about-button {
  text-align: center;
  background-color:#FFFFFF;
  color:rgba(0, 0, 0, 0.9)
}

.info-switch {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 12px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #3498DB;     
  color: #F4F4F4;
  transition: outline-offset 200ms ease;
}

.info-switch:hover {
  background: #3498DB;
  outline-offset: 3px;
  outline: 2px solid #E67E22;    
}

#page-title-box {
  display: none;
  position: fixed;
  top: 3px;
  left: 50%;
  padding: 8px 24px;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.9);
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 999;
  font-size: 16px;
  line-height: 1.0;
  width: 100vw;
  font-family: 'Gotham';
  background: #2E3A59;       
  color: #F4F4F4;            
  opacity: .95;
}

.page-title-inner {
  max-width: 90vw;       
  margin: 0;         
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: 8px;
  font-family: 'Gotham';
  flex-wrap: nowrap;
}

.page-title-inner h2,
.page-title-inner h4 {
  margin: 0;
  display: inline;         
  white-space: normal;
  font-family: 'Gotham', sans-serif;
  color: #F4F4F4;
  vertical-align: middle;
  white-space: nowrap;
}


.page-title-inner h2 {
  font-size: clamp(0.75rem, calc(0.5rem + 1vw), 1.5rem);
}

.page-title-inner h4 {
  font-size: clamp(0.6rem, calc(0.4rem + 0.5vw), 1rem);
}

/* to adjust for smaller screens */

@media (max-width: 800px) {
  /* 1) let the inner flex container wrap and stay centered */
  .page-title-inner {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;        /* keep it centered */
    text-align: center;    /* center any inline text */
  }

  /* 2) force each heading onto its own full‐width line, centered */
  .page-title-inner h2,
  .page-title-inner h4 {
    display: block;        /* full‐width block */
    width: 100%;
    white-space: normal;   /* allow wraps */
    margin: 4px 0;         /* small vertical spacing */
    text-align: center;    /* center the text */
  }
}

/* needed to have the mapbox controls in a specific place to not accidently mix with info boxes placement */
.mapboxgl-ctrl-top-left {
  top: 45px !important;   
  color: #2E3A59;
}

.scorecard-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border: 2px solid #fff;
  }













  .mapboxgl-popup-content {
    border: 2px solid #151931;
    border-radius: 16px;
    padding: 12px 16px;
    color: #000000;
    font-size: 11px;
    width: 450px;
    column-count: 2;
    column-gap: 15px;
    font-family: 'Gotham';
  }
  
  /* 3) (Optional) Adjust h3/p within each column so they flow nicely */
  .mapboxgl-popup-content h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1;
    font-family: 'Gotham';
  }
  .mapboxgl-popup-content p,
  .mapboxgl-popup-content strong {
    margin: 0 0 2px;
    font-size: 14px;
    line-height: 1;
    font-family: 'Gotham';
  }
  
  .mapboxgl-popup-content .popup-body {
    column-count: 2;
    column-gap: 15px;
    font-family: 'Gotham';
  }
